
#logo a {background-image:url('https://www.actonlytics.com/static/img/logo_inverse.svg'); min-height:0; height:40px}
#logo {
    background-image: none;
    background-color: transparent;
}

/* Backgrounds */
html{background-image:none;background-color:#99cc00}
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #31AE90;
}
.wufoo .info h2 {
    font-size: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    color: white;
}

.wufoo .info div {
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    color: white;
}

#logo{background-image:none;background-color:#669900}
#container{
		border: none;
	background:#31ae90;
	box-shadow: none;

}

.wufoo label.desc, .wufoo legend.desc {
    /* font-size: 14px; */
    font-family: Roboto;
    font-style: normal;
    /* font-weight: 300; */
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.wufoo li.focused {
    background-color: #3bd0ac;
}


.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    font-style: normal;
    font-family: Roboto;
    font-weight: 300;
    color: white;
    background-color: transparent;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    border: 1px solid white;
}

.wufoo .info, .wufoo .paging-context {
    border-bottom: none;
}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file {
    color: white;
}

.wufoo input.btTxt {
    background-color: #FF8C48;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 5px;
    height: 46px;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: Roboto;
    color: white;
    font-weight: 400;
}


.wufoo #lola {
    background: transparent;
    color: white;
}


.wufoo #lola tfoot th {
    color: white;
    font-size: 14px;
    font-weight: 300;
}